.navbar {
  display: flex;
  text-align: center;
}

.graphic {
  max-width: 100%;
  display: flex;
  min-height: 207px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}
.navbar > a {
  text-decoration: none;
  margin: 20px 10px 0;
  padding: 10px 5px;
}

body {
  font-family: sans-serif;
}
